# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# IDE files
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# OS files
.DS_Store
Thumbs.db
